<div class="container">
  <div class="row my-5 py-5">
    <div class="col">
      <h1 class="display-4 text-center">Pet Tracker Speed App - Update A Pet</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h2 class="h4">Back To Dashboard</h2>
      <button class="btn mt-4 btn-primary" routerLink="/">View</button>
    </div>
    <div class="col text-center">
      <h2 class="h4">Add a New Pet</h2>
      <button class="btn mt-4 btn-primary" routerLink="/add">View</button>
    </div>
    <div class="col text-center">
      <h2 class="h4">Remove a Pet</h2>
      <button class="btn mt-4 btn-primary" routerLink="/remove">View</button>
    </div>
  </div>

  <div class="pet-information my-5 py-5" *ngIf="pets.length && !petEditMode">
    <div class="row text-center">
      <div class="col h5">Pet Name</div>
      <div class="col h5">Action</div>
    </div>
    <div class="row mt-3" *ngFor="let pet of pets">
      <div class="col text-center">{{ pet['name'] }}</div>
      <div class="col text-center"><button class="btn btn-info" (click)="ViewSpecificPet(pet['_id'])">Edit</button></div>
    </div>
  </div>

  <div class="my-5 py-5" *ngIf="pets.length && petEditMode">
    <div class="row">
      <div class="col"><h5 class="h5 text-center">Please update in pet information below</h5></div>
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-5">
      <form>
        <div class="form-group">
          <label for="petName">Pet Name</label>
          <input type="text" class="form-control" id="petName" aria-describedby="petName" [(ngModel)]="petName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="petType">Pet Type</label>
          <input type="text" class="form-control" id="petType" [(ngModel)]="petType" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="petBreed">Pet Breed</label>
          <input type="text" class="form-control" id="petBreed" [(ngModel)]="petBreed" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="petGender">Pet Gender</label>
          <input type="text" class="form-control" id="petGender" [(ngModel)]="petGender" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="petAge">Pet Age (years)</label>
          <input type="number" class="form-control" id="petAge" [(ngModel)]="petAge" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="petColor">Pet Colour</label>
          <input type="text" class="form-control" id="petColor" [(ngModel)]="petColor" [ngModelOptions]="{standalone: true}">
        </div>
        <button class="btn btn-secondary mr-5" (click)="ClearData()">Cancel</button>
        <button class="btn btn-primary" (click)="UpdatePet()">Submit</button>
      </form>
    </div>
  </div>

  <div class="my-5 py-5" *ngIf="!pets.length && !petEditMode">
    <h3 class="h3 text-center">Oops! Looks like you've got no pets!</h3>
    <h4 class="h4 text-center mt-5">Start by adding a new pet</h4>
  </div>
</div>
